<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr Lab</title>
</head>
<body>
    <h1>Budgtr ALL</h1>
    <% for (let i = 0; i < budget.length; i++) { %>
    <div class = 'container'>
        <table>
            <td><%= budget[i].date %></td>
            <td><a href="/budgets/<%= i %>"><%= budget[i].name %></a></td>
            <td><%= budget[i].from %></td>
            <td><%= budget[i].amount %></td>
        </table>
        <% } %>
    </div>
    <a href="/budgets/new"><button>Create new input field</button>
</body>
</html>